.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border:1px solid black ;
    background-color: beige;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}
.nav-items >ul>li{
    padding: 20px;

}
.logo{
    width: 100px;

}
.card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.card > img{
    width: 100%;
}
.Restaurantlist{
    display: flex;
    flex-wrap: wrap;
}
.restrauntphoto{
    height: 200px;
    width: 200px;
}
.shimmercard{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    margin: 20px;
}